{% extends "plantilla.html" %}

{% block contenido %}
<!-- Hero Section -->
<section class="hero bg-dark text-white text-center py-5" style="background-image: url('/static/img/comedor_uni.jpg'); background-size: cover; background-position: center; background-attachment: fixed; height: 500px;">
    <div class="d-flex justify-content-center align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="container text-center">
            <h1 class="display-4 font-weight-bold mb-3">Bienvenidos al Comedor Universitario</h1>
            <p class="lead mb-4">Disfruta de opciones saludables y deliciosas mientras sigues enfocado en tus estudios. ¡La mejor comida para tu energía!</p>
            <a href="/menu_filtrado" class="btn btn-light btn-lg shadow-lg px-4 py-2 rounded-pill" style="font-size: 1.2rem;">Explora el Menú del Día</a>
        </div>
    </div>
</section>




{% endblock %}
